script(language='javascript', type='text/javascript').
  function f2() {
    window.close();
  }

  function f3() {
    window.print(); 
  }

doctype html
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=iso-8859-1')
    title User Profile
    link(href='/style.css', rel='stylesheet', type='text/css')
    link(href='/anuj.css', rel='stylesheet', type='text/css')

  body
    div(style='margin-left:50px;')
      form(name='updateticket', id='updateticket', method='post')
        table(width='100%', border='0', cellspacing='0', cellpadding='0')

            tr
              td(colspan='2')
                b= `${user.name}'s profile`

            tr
              td(colspan='2', height='50')
                b Date Created:
                | #{user.createdAt}

            tr
              td(colspan='2', height='50')
                b Last Updated:
                | #{user.updatedAt}

            tr
              td(colspan='2', height='50')
                b User Email:
                | #{user.email}

            tr
              td(colspan='2', height='50')
                b Age
                | #{user.age}

            tr
              td(colspan='2', height='50')
                b Department:
                | #{user.department}

            tr
              td(colspan='2', height='50')
                b College:
                | #{user.college}

            //- tr
            //-   td(colspan='2', height='50')
            //-     b Status:
            //-     | #{row.status === 1 ? 'Active' : 'Block'}

            tr
              td(colspan='2')
                input(name='Submit2', type='submit', class='txtbox4', value='Close this window ', onClick='return f2();', style='cursor: pointer;')
