doctype html
html(lang="en")
  head
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Admin| Complaint Details
    link(type="text/css" href="/bootstrap/css/bootstrap.min.css" rel="stylesheet")
    link(type="text/css" href="/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet")
    link(type="text/css" href="/css/theme.css" rel="stylesheet")
    link(type="text/css" href="/img/icons/css/font-awesome.css" rel="stylesheet")
    link(type='text/css' href='/http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600' rel='stylesheet')
    script(language="javascript" type="text/javascript").
      var popUpWin=0;
      function popUpWindow(URLStr, left, top, width, height) {
        if(popUpWin) {
          if(!popUpWin.closed) popUpWin.close();
        }
        popUpWin = open(URLStr,'popUpWin', 'toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=no,copyhistory=yes,width='+600+',height='+600+',left='+left+', top='+top+',screenX='+left+',screenY='+top+'');
      }

  body
    include includes/admin-header
    .wrapper
      .container
        .row
          include includes/admin-sidebar
          .span9
            .content
              .module
                .module-head
                  h3 Complaint Details
                .module-body.table
                  table.datatable-1.table.table-bordered.table-striped.display(width="100%")
                    tbody
                        tr
                          td
                            b Complainant Name
                          td
                            = `${user.name}`
                        tr
                          td
                            b Complaint Title
                          td
                            = `${complaint.title}`
                        tr
                          td
                            b Category
                          td
                            = `${complaint.type}`
                        tr
                        tr
                          td
                            b Complaint Details
                          td(colspan="5")
                            = `${complaint.description}`
                        tr
                          td
                            b Priority
                          td(colspan="5")
                            = `${complaint.priority}`
                        tr
                          td
                            b Description
                          td(colspan="5")
                            = `${complaint.description}`
                        tr
                          td
                            b File(if any)
                          td(colspan="5")
                            //- - const cfile = row['complaintFile'];
                            //- - if (cfile === "" || cfile === "NULL") {
                            //-   | File NA
                            //- - } else {
                            //-   a(href="../users/complaintdocs/#{htmlentities(row['complaintFile'])}") View File
                            //- - }
                        //- - $ret=mysqli_query($bd, "select complaintremark.remark as remark,complaintremark.status as sstatus,complaintremark.remarkDate as rdate from complaintremark join tblcomplaints on tblcomplaints.complaintNumber=complaintremark.complaintNumber where complaintremark.complaintNumber='".$_GET['cid']."'");
                        //- - while($rw=mysqli_fetch_array($ret)) {
                          tr
                            td
                              b Remark
                            td(colspan="5")
                              = htmlentities($rw['remark']) + ' ' + 'Remark Date ' + htmlentities($rw['rdate'])
                          tr
                            td
                              b Status
                            td(colspan="5")
                              = htmlentities($rw['sstatus'])
                        tr
                          td
                            b Final Status
                          td(colspan="5")
                            | Not Resolved Yet
                            
                        tr
                          td
                            b Action
                          td
                            a(href="javascript:void(0);", onClick=`popUpWindow('/resolve-complaint/${complaint.id}')`, title="Update order")
                               button(type="button" class="btn btn-primary") Take Action
                          td(colspan="4")
                            a(href="javascript:void(0);", onClick=`popUpWindow('/user-profile/${user._id}')`, title="Update order")
                              button(type="button" class="btn btn-primary") View User Detials
                      
    include includes/admin-footer
    script(src="/js/bundle.js" type="text/javascript")
    script(src="/scripts/jquery-1.9.1.min.js" type="text/javascript")
    script(src="/scripts/jquery-ui-1.10.1.custom.min.js" type="text/javascript")
    script(src="/bootstrap/js/bootstrap.min.js" type="text/javascript")
    script(src="/scripts/flot/jquery.flot.js" type="text/javascript")
    script(src="/scripts/datatables/jquery.dataTables.js")
    script.
        document.addEventListener('DOMContentLoaded', function() {
            $('.datatable-1').dataTable();
            $('.dataTables_paginate').addClass('btn-group datatable-pagination');
            $('.dataTables_paginate > a').wrapInner('<span />');
            $('.dataTables_paginate > a:first-child').append('<i class="icon-chevron-left shaded"></i>');
            $('.dataTables_paginate > a:last-child').append('<i class="icon-chevron-right shaded"></i>');
        });

