doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="")
    meta(name="author", content="Dashboard")
    meta(name="keyword", content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina")
    title CMS | User Change Password
    // Bootstrap core CSS
    link(href="assets/css/bootstrap.css", rel="stylesheet")
    // External CSS
    link(href="assets/font-awesome/css/font-awesome.css", rel="stylesheet")
    link(href="assets/js/bootstrap-datepicker/css/datepicker.css", rel="stylesheet", type="text/css")
    link(href="assets/js/bootstrap-daterangepicker/daterangepicker.css", rel="stylesheet", type="text/css")
    link(href="assets/css/style.css", rel="stylesheet")
    link(href="assets/css/style-responsive.css", rel="stylesheet")

  body
    section#container
      include includes/header.pug
      include includes/sidebar.pug
      section#main-content
        section.wrapper
          h3
            i.fa.fa-angle-right
            |  Profile info

          

            - const formattedDate = new Date(user.updatedAt).toLocaleDateString('en-US', {month: 'long', day: 'numeric'});
            h4.mb
              i.fa.fa-user
              |  #{user.name}'s profile
            h5
              b Last Updated at :
              |  #{formattedDate}

            form#updateUserForm.form-horizontal.style-form(name="profile")
              // Form fields go here, use #{user.fieldName} to display user data

              .form-group
                label.col-sm-2.col-sm-2.control-label Full Name
                div.col-sm-4
                  input#updateName(type="text", name="fullname", required="required", value=`${user.name}`, class="form-control")
                label.col-sm-2.col-sm-2.control-label College
                div.col-sm-4
                  select#updateCollege.form-control(name="college", required="required")
                    option(value="science" selected=`${user.college}`==="science") science
                    option(value="technology" selected=`${user.college}`==="technology") technology
                br
                label.col-sm-2.col-sm-2.control-label Department
                div.col-sm-4
                  select#updateDepartment.form-control(name="department", required="required")
                    option(value="computer science" selected=`${user.department}`==="computer science") computer science
                    option(value="geophysics" selected=`${user.department}`==="geophysics") geophysics
                    option(value="geology" selected=`${user.department}`==="geology") geology
                    option(value="mathematics" selected=`${user.department}`==="mathematics") mathematics
                    option(value="emt" selected=`${user.department}`==="emt") emt
                    option(value="physics" selected=`${user.department}`==="physics") physics
                    option(value="chemistry" selected=`${user.department}`==="chemistry") chemistry
                    option(value="mechanical engineering" selected=`${user.department}`==="mechanical engineering") mechanical engineering
                    option(value="civil engineering" selected=`${user.department}`==="civil engineering") civil engineering
                    option(value="petroleum engineering" selected=`${user.department}`==="petroleum engineering") petroleum engineering
                    option(value="chemical engineering" selected=`${user.department}`==="chemical engineering") chemical engineering
                br
                label.col-sm-2.col-sm-2.control-label User Email
                div.col-sm-4
                  input#updateEmail(type="email", name="useremail", required="required", value=`${user.email}`, class="form-control")
                br
                label.col-sm-2.col-sm-2.control-label Age
                div.col-sm-4
                  input#updateAge(type="number", name="Age", required="required", value=`${user.age}`, class="form-control")

              // Repeat similar blocks for other form fields

              .form-group
                .col-sm-10(style="padding-left:25% ")
                  button(type="submit", name="submit", class="btn btn-primary") Update

          include includes/footer.pug

    // js placed at the end of the document so the pages load faster
    script(src="/js/bundle.js")
    script(src="assets/js/jquery.js")
    script(src="assets/js/bootstrap.min.js")
    script.include(type="text/javascript", src="assets/js/jquery.dcjqaccordion.2.7.js")
    script(src="assets/js/jquery.scrollTo.min.js")
    script(src="assets/js/jquery.nicescroll.js", type="text/javascript")

    // common script for all pages
    script(src="assets/js/common-scripts.js")

    // script for this page
    script(src="assets/js/jquery-ui-1.9.2.custom.min.js")

    // custom switch
    script(src="assets/js/bootstrap-switch.js")

    // custom tagsinput
    script(src="assets/js/jquery.tagsinput.js")

    // custom checkbox & radio
    script(type="text/javascript", src="assets/js/bootstrap-datepicker/js/bootstrap-datepicker.js")
    script(type="text/javascript", src="assets/js/bootstrap-daterangepicker/date.js")
    script(type="text/javascript", src="assets/js/bootstrap-daterangepicker/daterangepicker.js")
    script(type="text/javascript", src="assets/js/bootstrap-inputmask/bootstrap-inputmask.min.js")

    script(src="assets/js/form-component.js")

    script.
      // custom select box
      $(function(){
          $('select.styled').customSelect();
      });
