doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Admin| Closed Complaints
    link(type='text/css', href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(type='text/css', href='/bootstrap/css/bootstrap-responsive.min.css', rel='stylesheet')
    link(type='text/css', href='/css/theme.css', rel='stylesheet')
    link(type='text/css', href='/img/icons/css/font-awesome.css', rel='stylesheet')
    link(type='text/css', href='/http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600', rel='stylesheet')
    script(type='text/javascript', language='javascript').
      var popUpWin=0;
      function popUpWindow(URLStr, left, top, width, height) {
        if(popUpWin) {
          if(!popUpWin.closed) popUpWin.close();
        }
        popUpWin = open(URLStr,'popUpWin', 'toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=no,copyhistory=yes,width='+500+',height='+600+',left='+left+', top='+top+',screenX='+left+',screenY='+top+'');
      }
  body
    include includes/admin-header.pug
    .wrapper
      .container
        .row
          include includes/admin-sidebar.pug
          .span9
            .content
              .module
                .module-head
                  h3 Unresolved Complaints
                .module-body.table
                  table(datatable-1, class='table table-bordered table-striped display')
                    thead
                      tr
                        th Complaint ID
                        th complainant Title
                        th Created At
                        th Status
                        th Action
                    tbody
                        each comp in complaint
                          tr
                            td= `${comp._id}`
                            td= `${comp.title}`
                            - const formattedDate = new Date(comp.createdAt).toLocaleDateString('en-US', {month: 'long', day: 'numeric'});
                            td= `${formattedDate}`
                            td
                              button.btn.btn-danger Not Resolved yet
                            td
                              a(href=`/admin-complaint-details/${comp._id}`) View Details
    include includes/admin-footer.pug
    script(src="/js/bundle.js" type="text/javascript")
    script(src="scripts/jquery-1.9.1.min.js" type="text/javascript")
    script(src="scripts/jquery-ui-1.10.1.custom.min.js" type="text/javascript")
    script(src="bootstrap/js/bootstrap.min.js" type="text/javascript")
    script(src="scripts/flot/jquery.flot.js" type="text/javascript")
    script(src="scripts/datatables/jquery.dataTables.js")
    script(type='text/javascript').
      $(document).ready(function() {
        $('.datatable-1').dataTable();
        $('.dataTables_paginate').addClass("btn-group datatable-pagination");
        $('.dataTables_paginate > a').wrapInner('<span />');
        $('.dataTables_paginate > a:first-child').append('<i class="icon-chevron-left shaded"></i>');
        $('.dataTables_paginate > a:last-child').append('<i class="icon-chevron-right shaded"></i>');
      });
